<div class="span8 offset0" id="rules-applied">
	<h3>Rules applied:</h3>
	<ul>
		<li>
			<h4>Rule 1:  If there is only one spot in a 3x3 cube where a particular number can go, fill it in</h4>
		</li>
		<li>
			<h4>Rule 2:  If there is only one spot in a 3x3 cube where a particular number can go, fill it in</h4>
		</li>
	</ul>
	
</div>