<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me at my
  <a href="mailto:harris.jay@gmail.com">primary gmail address</a>.
</p>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
