<!DOCTYPE html>
<html>
	<head>
	    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	    <style type="text/css">
			html { height: 100% }
			body { height: 100%; margin: 0; padding: 0 }
			#map_canvas { height: 100% }
	    </style>
	
	    <script type="text/javascript"
			src="http://maps.googleapis.com/maps/api/js
			?key=AIzaSyCXAocGD2cgELvYBmMpz1CLG81YlEHfdrA
			&sensor=false
			&libraries=visualization">
	    </script>
		
		<%# this tells Rails to include the script called mapScript %>
		<%# found somewhere in the app/assets folder %>
		<%# (it's in app/assets/javascripts) %>
	 	<%= javascript_include_tag "mapScript" %>
	
	</head>

	<!-- this is an alternative to the DOM Listener included in mapScript.js  -->
	<!-- <body onload="initialize()"> -->
	<body>
		<div id="map_canvas2" style="width:90%; height:90%"></div>
		<div id="map_canvas" style="width:90%; height:90%"></div>		
		<div id="reload">
			<button type="button" onClick="gatherElevations()" class="btn btn-large btn-primary">
				Gather Elevations In View
			</button>
			<button type="button" onClick="showElevations()" class="btn btn-large btn-primary">
				Show Elevations In View
			</button>
			<button type="button" onClick="gatherGridElevations()" class="btn btn-large btn-primary">
				Gather Batch of Grid Elevations
			</button>
			
		</div>
		<div id="test_output">--Test Output Goes Here--</div>
	</body>
	
</html>	

<%# Google maps API key: AIzaSyCXAocGD2cgELvYBmMpz1CLG81YlEHfdrA %>