<% provide(:title, @userToShow.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @userToShow, size: 200 %>
				<%= @userToShow.name %>
			</h1>
		</section>
	</aside>
</div>