<%# this needs to be in /views/microposts b/c it is called with the clever 
# 'render @microposts' rather than simply calling a simple partial, like
# 'render 'fields'%>

<li>
	<span class="content"><%= micropost.content %></span>
	<span class="timestamp">Posted at <%= micropost.created_at.strftime("%X %p (UTC) on %x") %>.</span>
	<%= render 'shared/delete', object: micropost if current_user?(micropost.user) %>
</li>